# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\aws-pruebas\postgresql-rds\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
